// SCSS variables
$fwBold: 700;
$fwNormal: 500;
$fwlight: 300;

$mainColor: #bb5432;
$altColor: #f1c5b6;
$lightColor: #fff;

$fastTransition: 0.2s;
$slowTransition: 1s;

// Base spacing to use everywhere by multiplying it if needed
$gutter: 0.8rem;